<p id="notice"><%= notice %></p>

<p>
  <strong>Noteable:</strong>
  <%= @note.noteable_id %>
</p>

<p>
  <strong>Noteable type:</strong>
  <%= @note.noteable_type %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<br>
<%= link_to fa_icon('pencil', text: 'Edit'), edit_note_path(@note), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), notes_path, class: 'btn btn-sm btn-default' %>
