<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company %><br>
    <%= f.select(
        :company_id,
        options_from_collection_for_select(
        Company.all,
        :id,
        :name
        ),
        {},
        {class: "form-control"}
    )%>
  </div>

  <%= f.fields_for :emails do |email_form| %>
    <div class="form-group">
      <%= email_form.label :email %><br>
      <%= email_form.text_field :email, class: "form-control" %>
    </div>
  <% end %>

  <%= f.fields_for :phone_numbers do |phone_form| %>
    <div class="form-group">
      <%= phone_form.label :phone_number %>:
      <%= phone_form.text_field :number, class: "form-control" %><br>

      <%= phone_form.label :phone_type %>:
      <%= phone_form.collection_select :number_type, PhoneNumber::NUMBER_TYPES, :first, :last, {}, {class: "form-control"}  %>
    </div>
  <% end %>

  <%= f.fields_for :addresses do |address_form| %>
    <div class="form-group">
      <%= address_form.label :address_1 %>
      <%= address_form.text_field :address_1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address_form.label :address_2 %>
      <%= address_form.text_field :address_2, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address_form.label :city %>
      <%= address_form.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address_form.label :state %>
      <%= address_form.text_field :state, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address_form.label :zip_code %>
      <%= address_form.text_field :zip_code, class: "form-control" %>
    </div>
  <% end %>

  
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
