<hr>
<p>
    <strong>Topic:</strong>
    <%= interaction.topic %>
</p>
<p>
    <strong>By:</strong>
    <%= interaction.medium %>
</p>
<p>
    <strong>Details:</strong>
    <%= truncate interaction.details, :length => 50 %>
    <%= link_to fa_icon('eye', text: 'More...'), interaction, class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('pencil', text: 'Edit'), edit_interaction_path(interaction), class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('trash-o', text: 'Destroy'), interaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
</p>
