<hr>
<div class="row">
  <h3>
    <%= interaction.topic  %>
  </h3>
  <strong>Salesperson:</strong>
  <%= interaction.user.full_name %>
  <%= icon_type(interaction.medium) %>
  <%= time_ago_in_words(Time.now) + " ago" %>  
</div>

<p>
  <strong>Details:</strong>
  <%= interaction.details %>
</p>
<%= link_to fa_icon('pencil', text: 'Edit'), edit_interaction_path(interaction), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('trash-o', text: 'Destroy'), interaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
