<tr>
  <td><%= person.first_name %></td>
  <td><%= person.last_name %></td>
  <td><% person %></td>
  <td>
    <%= link_to fa_icon('eye', text: 'Show'), person, class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('pencil', text: 'Edit'), edit_person_path(person), class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('trash-o', text: 'Destroy'), person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>
