<% content_for(:sidebar) do %>
  <%= link_to "Add Email",  new_person_email_path(@person),remote: true, class: "btn btn-primary" %>
<% end %>


<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company.name %>
</p>

<p>
  <strong>Phone numbers:</strong>
  <% @person.phone_numbers.each do |phone_number| %>
  <%= phone_number.number %>
  <% end %>
</p>

<p>
  <strong>Email addresses:</strong>
  <% @person.emails.each do |email| %>
  <br><%= email.email %>
  <% end %>
</p>

<p id="email-form">
</p>

<p>
  <strong>Addresses:</strong>
  <% @person.addresses.each do |address| %>
  <%= address.address_1 %>
  <%= address.address_2 %>
  <%= address.city %>
  <%= address.zip_code %>
  <%= address.country %>
  <% end %>
</p>

<p>
  <strong>Notes:</strong>
  <% @person.notes.each do |note| %>
  <%=  note.created_at.strftime("%m/%d") %> :
  <%= note.body%>
  <hr>
  <% end %>
</p>

<br>
<%= link_to fa_icon('pencil', text: 'Edit'), edit_person_path(@person), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), people_path, class: 'btn btn-sm btn-default' %>
