<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Phone numbers:</strong>
  <% @person.phone_numbers.each do |phone_number| %>
  <%= phone_number.number %>
  <% end %>
</p>

<p>
  <strong>Email addresses:</strong>
  <% @person.emails.each do |email| %>
  <%= email.email %>
  <% end %>
</p>

<p>
  <strong>Addresses:</strong>
  <% @person.addresses.each do |address| %>
  <%= address.address_1 %>
  <%= address.address_2 %>
  <%= address.city %>
  <%= address.zip_code %>
  <%= address.country %>
  <% end %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @person.notes %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
