<%= form_for(@interaction) do |f| %>
  <% if @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% @interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :topic %><br>
    <%= f.text_field :topic, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :medium %><br>
    <%= f.collection_select :medium, Interaction::MEDIUMS, :first, :last, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :follow_up_date %><br>
    <%= f.datetime_select :follow_up_date, as: :datepicker %>
  </div>
  <% if params["person_id"] %>
    <%= f.hidden_field :person_id %>
  <% else %>
  
  <% end %>


  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
