<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @interaction.topic %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @interaction.medium %>
</p>

<p>
  <strong>Details:</strong>
  <%= @interaction.details %>
</p>

<p>
  <strong>Follow up date:</strong>
  <%= @interaction.follow_up_date %>
</p>

<p><strong>Contact: </strong>
  <%= link_to @interaction.person.first_name, person_path(@interaction.person_id) %>
</p>

<br>
<%= link_to fa_icon('pencil', text: 'Edit'), edit_interaction_path(@interaction), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), interactions_path, class: 'btn btn-sm btn-default' %>
