<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

  <strong>Interactions:</strong>
  <% @user.interactions.each do |interaction| %>
    <p>
      Interaction with:
      <%= interaction.person.first_name + " " + interaction.person.last_name %>
    </p>
    <p>
      Notes on interaction:
      <%= interaction.topic %>
    <p>
      Interaction medium:
      <%= interaction.medium %>
    </p>
    <p>
      Follow up date:
      <%= interaction.follow_up_date %>
    </p>
    <p>
      Interaction created at:
      <%= interaction.created_at %>
    </p>
  <% end %>

<div id='bottom-nav'>
  <div class="col-sm-3">
    <%= link_to fa_icon('pencil', text: 'Edit'), edit_user_path(@user), class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('chevron-left', text: 'Back'), users_path, class: 'btn btn-sm btn-default' %>
  </div>
</div>
