<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :salesperson %><br>
    <%= f.text_area :salesperson %>
  </div>

  <!-- Form for address -->
  <%= f.fields_for :address do |address_form| %>
    <div class="field">
      <%= address_form.label :address_1 %><br>
      <%= address_form.text_field :address_1 %>
    </div>

    <div class="field">
      <%= address_form.label :city %><br>
      <%= address_form.text_field :city %>
    </div>

    <div class="field">
      <%= address_form.label :state %><br>
      <%= address_form.text_field :state %>
    </div>

    <div class="field">
      <%= address_form.label :zip_code %><br>
      <%= address_form.text_field :zip_code %>
    </div>

    <div class="field">
      <%= address_form.label :country %><br>
      <%= address_form.text_field :country %>
    </div>
  <% end %>
  <!-- Form for address -->

  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
