<p id="notice"><%= notice %></p>

<h2><%= @company.name %></h2>

<div class="map-container">
  <div id="map"></div>
</div>

<p>
  <strong>Notes:</strong>
  <% @company.notes.each do |note| %>
  <%=  note.created_at.strftime("%m/%d") %> :
  <%= note.body%>
  <hr>
  <% end %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
