<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @company.notes %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @company.salesperson %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
